body {
  color: rgb(31, 31, 49);
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 27%,
    rgba(222, 235, 255, 0.5) 100%
  );
  height: 100%;
  width: 100% !important;
}
.dark {
  color: rgb(222, 237, 255);
  background: rgb(2, 21, 37, 1);
  background: linear-gradient(
    180deg,
    rgba(2, 21, 37, 1) 100%,
    rgba(19, 19, 19, 1) 0%
  );
  height: 100%;
}
.dark h1,
.dark h3 {
  color: #03989e;
}
h1,
h3 {
  color: #03539e;
}
nav {
  color: rgb(31, 31, 49);
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(31, 31, 49);
}
a {
  font-weight: bolder;
  margin: 10px;
  color: rgb(31, 31, 49);
}
.dark nav {
  color: rgb(222, 237, 255) !important;
  background: rgba(2, 21, 37);
  background: linear-gradient(
    0deg,
    rgba(2, 21, 37, 1) 0% rgba(2, 21, 37, 1) 100%
  );
  border-bottom: 1px solid rgb(222, 237, 255);
}
.dark a {
  font-weight: bolder;
  color: rgb(222, 237, 255) !important;
}
@media (max-width: 850px) {
  .socials {
    width: 28px;
  }
  nav span {
    font-size: 12px;
    display: block;
  }
}
@media (max-width: 320px) {
  body {
    font-size: smaller;
    margin-right: -10px;
    padding-right: -10px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div,
  .sectionCard {
    font-size: smaller;
    margin: 0 !important;
  }
  .socials a {
    width: 50%;
  }
  .socials {
    width: 35px !important;
  }
}

/* .come-in {
  transform: translateX(250px);
  animation: come-in 1s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 1s;
}

@keyframes come-in {
  to {
    transform: translateY(0);
  }
} */
/* darkmode icon animation */
.pop:hover {
  cursor: pointer;
  animation: pop 0.4s linear 1;
}

@keyframes pop {
  50% {
    transform: scale(1.3);
  }
}

.techIcons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: small;
}
.techIcons img {
  height: 80px;
  width: 80px;
  margin: 0 30px;
  padding: 10px;
  background-color: whitesmoke;
  border-top: solid;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    silver 0px -2px 6px 0px, gold 0px 30px 60px -30px inset;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.navbar {
  position: sticky;
  top: -1px;
  left: 0;
  z-index: 12000;
  display: flex;
  justify-content: flex-end;
  height: 50px;
  align-items: center;
  padding-right: 20px;
  font-size: larger;
}
.profilePic {
  max-height: 600px;
  height: 100%;
  width: 100%;
}
.hex {
  position: relative;
  max-width: 230px;
  width: 100%;
  

}
.hex:before {
  content: "";
  display: block;
  padding-bottom: 115%;   

}
.hex img {
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 115%;
  
}
.hex__shape {
  position: absolute;
  backface-visibility: hidden;
  left: 0;
  height: 100%;
  overflow: hidden;
  top: 0;
  transform: rotate(240deg);
  width: 100%;
  
}

.sectionCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 800px;
  width: auto;
  font-size: 20px;
  padding: 0;
  margin: 0;
  margin-top: 60px;
}

.dark #header {
  display: flex;
  justify-content: center;
  background: linear-gradient (59deg #03539e, #4e5a5ad2);
  background-color: #fadebe23;
}
#header {
  display: flex;
  justify-content: center;
  background: linear-gradient (59deg #03539e, #4e5a5ad2);
  background-color: rgba(5, 65, 99, 0.226);
}
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: large;
  padding: 40px;
}
#about h2 {
  margin: 0 !important;
  padding-top: 30px;
}
.dark #linkCv {
  border: solid #03989e;
  border-radius: 20px 20px;
  text-decoration: none;
  box-shadow: #03539e 0 0 20px 4px;
}
#linkCv {
  border: solid #03989e;
  border-radius: 20px 20px;
  padding: 15px;
  text-decoration: none;
  box-shadow: #03539e 0 0 20px 4px;
}
.aboutTxt {
  max-width: 800px;
  width: 100%;
}
.dark #projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient (59deg #03539e, #4e5a5ad2);
  background-color: #fadebe23;
}
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient (59deg #03539e, #4e5a5ad2);
  background-color: rgba(5, 65, 99, 0.226);
}

.dark #allCards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
#allCards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0 10px;
  justify-content: space-around;
  margin-bottom: 25px;
}
#logoSS {
  position: absolute;
  left: 0 !important;
  top: 7px !important;
  width: 50px;
  height: 40px;
  padding: 0 20px;
}
.cardImg {
  max-width: 300px;
  width: 100%;
  height: 180px;
}
.projectCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin: 20px;
  box-shadow: #03989e 0px 0px 30px;
  border-radius: 15px;
  padding: 15px;
}
#allCards div {
  background-color: whitesmoke;
}
.dark #allCards div {
  background-color: rgba(5, 65, 99, 0.226);
}
/* card animation  */
.shake:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  left: 0;
  bottom: 250px;
  background-color: #02383a96;
  border: 1px solid #03989e;
  border-left: none;
  width: 70px;
  align-items: center;
  border-radius: 0 15px 15px 0;
}
.socials a {
  color: whitesmoke !important;
}
.contact {
  padding-left: 10px;
  margin-right: 0;
  text-orientation: sideways;
}

#contactMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: -200px;
}
#icons {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#icons a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  text-align: center;
  padding-bottom: 40px;
}
#error {
  color: aliceblue;
  position: fixed;
  bottom: 10px;
  left: 40%;
  background-color: rgb(219, 32, 32);
  font-size: larger;
  border: solid rgba(39, 2, 2, 0.61);
  padding: 5px;
  border-radius: 5px;
}
#contactform {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark #contactform label {
  color: aliceblue;
}
.dark input,
.dark textarea {
  color: aliceblue !important;
}
.button {
  border: solid #03989e;
  border-radius: 10px;
  padding: 2px 10px;
  box-shadow: #03539e 0 0 20px 4px;
  cursor: pointer;
  margin-top: 10px;
  font-size: small;
}
.dark .button {
  border: solid #03989e;
  box-shadow: #03539e 0 0 20px 4px;
  background: transparent;
  color: whitesmoke;
  cursor: pointer;
}
.linksProject {
  display: flex;
}

.dark #success{
  color: aliceblue;
  position: fixed;

  background-color: rgba(32, 219, 132, 0.336);
  font-size: larger;
  border: solid rgba(58, 255, 147, 0.61);
  padding: 5px;
  border-radius: 5px;
}
 #success{
  color: rgb(0, 11, 20);
  position: fixed;
  bottom: 50px;
  background-color: rgba(32, 219, 132, 0.336);
  font-size: larger;
  border: solid rgba(58, 255, 147, 0.61);
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}
